# Gradle
.gradle/
build/

# Local properties and environment
local.properties
.env

# IntelliJ
.idea/
*.iml

# Android
captures/
*.apk
*.ap_
*.aab

# macOS
.DS_Store

# Kotlin/Java
out/

# Node & wasm artifacts
node_modules/

# Kotlin Multiplatform
kotlin-js-store/

